*{
     margin: 0;
     padding: 0;
}
:root{
     --blacktransparent:#0000004d;
}
body{
     overflow-x: hidden;
}
.nav-bar-container{
     position: fixed;
     z-index: 1000;
}
.navbar-dark .navbar-nav .nav-link {
     color: var(--white);
}
.nav-bar-container.active{
     background-color: var(--primary);
     box-shadow: 0 0 3px #000000;
     position: fixed;

}
.nav-bar-container.active .nav-link{
     color:var(--dark) ;

}
.nav-bar-container.active .nav-button{
     color: var(--white) ;
}
.intro-body{
     height: 100vh;
     background: linear-gradient(
          to bottom,rgba(6, 23, 34, 0.8),rgba(6, 13, 34, 0.8)),url(../img/intro-bg-2.jpg
  );
  background-repeat: no-repeat;
  background-position:left;
  background-size: cover;
  position: relative;
  z-index: 200;
  background-attachment: fixed;

}
.border-radius{
     border-radius: 30px;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     -ms-border-radius: 30px;
     -o-border-radius: 30px;
     padding: 2px 30px;
}
.traingle-container{
     width:100%;
     height:100%;
     position: absolute;
     top: 0;
     right:0;
     background-image: url('../img/triangle.svg');
     background-size: 60%;
     background-repeat: no-repeat;
     background-position: right bottom;
     z-index: -1;
}
/* footer */
.footer-content i{
     font-size: 20px;
}
.inno-footer a{
     color: var(--dark);
}
/* end footer */

/*star about*/
.about-container{
     background: linear-gradient(
             to bottom,rgba(6, 23, 34, 0.8),rgba(6, 13, 34, 0.8)),url(../img/about/about-team.jpg
     );
     background-repeat: no-repeat;
     background-position:left;
     background-size: cover;
     position: relative;
     z-index: 200;
     background-attachment: fixed;
}
.social-media-bar{
     background-color: var(--pink) !important;
}
.web-dev-bar{
     background-color: #3439FF;
}
.app-dev-bar{
     background-color: #1DFF9E;
}

/*end about*/

/*carrier start*/
.carrier-container{
     background: linear-gradient(
             to bottom,rgba(6, 23, 34, 0.8),rgba(6, 13, 34, 0.8)),url(../img/career/carrer.jpg
     );
     background-repeat: no-repeat;
     background-position:center;
     background-size: cover;
}

/*carrier end*/

@media screen and (max-width:567.9px){
     .side-bar-show:focus{
          outline: none;
     }
     .show-icon{
          transition: 0.3s;
     }
     .side-bar-show:active .show-icon{
          color:var(--dark) !important;

     }
     .side-nav-bar{

     }
     .side-nav-bar{
          width: 100%;
          height:100vh;
          position: fixed;
          background-color: var(--white);
          z-index: 3000;
          margin-left: -100%;

     }

     .side-nav-bar.active{
          margin-left:0;
          transition: 0.8s;
     }
     .side-nav-hide:focus{
          outline: none !important;
          box-shadow: unset !important;
          border: none !important;
     }
     .side-nav-hide:focus .hide-icon{
          transform: scale(0.3);
          color: #0000004d !important;
          transition: 0.2s;
     }
     .mobile-nav{
          padding: 0;
          list-style-type: none;
     }
     .mobile-nav .nav-item{
          padding: 10px 10px;
          margin: 10px 0;

     }
     .mobile-nav a{

     }
     .carrier-bg-row{
          height: 70vh !important;
     }
     .carrier-header{
          font-size: 30px;
     }

}
@media screen and (max-width:768.9px){
     .nav-bar-container{
       background-color:#0000004d;
     }
     .nav-item{
          margin: 0 !important;

     }
     .intro-body{
     
     }
}
